<div class="main-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-4 header-cards">
                @foreach (var sliderItem in ViewBag.SideSliderItems)
                {
                    <div class="header-card" style="background-image: url('@($"{Configuration.CoreConfiguration.APIOptions.WebAPI.BaseUrl}/Main/{Enum.GetName(typeof(Entities.Enum.Type.MediaTypeEnum), sliderItem.Image.MediaType.Id)}/{sliderItem.Id}/{sliderItem.Image.MediaPath}")');">
                        <div class="header-card-background">
                            <div class="d-flex align-items-start h-100 flex-column">
                                <h5 class="text-light">@sliderItem.Header</h5>
                                <p class="text-light">Blog</p>
                                @if (!string.IsNullOrEmpty(sliderItem.To))
                                {
                                    <a href="@sliderItem.To" class="small text-light mt-auto">Detaya Git</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-8">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        @foreach (var sliderItem in ViewBag.SliderItems)
                        {

                            <div class="carousel-item @(ViewBag.SliderItems[0] == sliderItem ? "active" : null)">
                                <img class="d-block w-100"
                                     src="@($"{Configuration.CoreConfiguration.APIOptions.WebAPI.BaseUrl}/Main/{Enum.GetName(typeof(Entities.Enum.Type.MediaTypeEnum), sliderItem.Image.MediaType.Id)}/{sliderItem.Id}/{sliderItem.Image.MediaPath}")" alt="First slide">
                            </div>

                        }
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>